#country-code{
  .search{
    text-align: center;
    mat-form-field{
      width: 80%;
    }
  }
  mat-dialog-content{
    margin: 24px 8px;
    position: relative;
    height: 200px;
    .container{

      .country{
        width: 100%;
        button{
          width: 100%;
          text-align: left;
        }
      }

    }
  }
}
