#pdf-visor{
  height: 90vh;
  overflow: hidden;
  position: relative;
  mat-toolbar{
    position: relative;
    .buttons{
      position: absolute;
      right: 16px;
    }
  }
  .container{
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
