@import '../../node_modules/@angular/material/theming';

@include mat-core();

@import "theme";
@import "colors";

@include angular-material-theme($my-app-theme);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  background-color: white;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif;
  overflow: hidden;
}

.upload-image-menu-panel{
  margin: 8px 0 0 -12px !important;
}

.list-stations-panel{
  width: 60vw;
  height: 90vh;
  overflow: hidden;
  mat-dialog-container{
    padding: 0 !important;
  }
  @media screen and (max-width: 600px){
    max-width: 90vw !important;
    width: 100vw;
  }
}

.add-consultancy-panel{
  width: 60vw;
  height: 90vh;
  overflow: hidden;
  mat-dialog-container{
    padding: 0 !important;
  }
  @media screen and (max-width: 600px){
    max-width: 90vw !important;
    width: 100vw;
  }
}

#labels{
  display: flex;;
  justify-content: flex-end;
  flex-direction: column;
  ul{
    list-style: none;
  }
  li{
    position: relative;
  }
  li:before{
    position: absolute;
    content: 'â—';
    top: 4px;
    left: -24px;
    font-size: 28px;
  }
}

.pdf-visor-panel{
  width: 50vw;
  height: 90vh;
  mat-dialog-container{
    padding: 0 !important;
  }
  @media screen and (max-width: 600px){
    width: 100vw;
  }
}

.location-panel{
  width: 40vw;
  min-height: 55vh;
  max-width: 90vh;
  mat-dialog-container{
    padding: 0 !important;
  }
  @media screen and (max-width: 1024px){
    width: 70vw;
  }
  @media screen and (max-width: 600px){
    width: 90vw;
  }
}

.country-code-panel{
  mat-dialog-container{
    width: 30vw;
    min-height: 55vh;
    max-width: 90vh;
    padding: 0;
    @media screen and (max-width: 1200px){
      width: 50vw;
    }
    @media screen and (max-width: 600px){
      width: 90vw;
    }
  }
}

.add-station-panel{
  mat-dialog-container{
    width: 40vw;
    height: 80vh;
    padding: 0;
    @media screen and (max-width: 1024px){
      width: 50vw;
    }
    @media screen and (max-width: 600px){
      width: 90vw;
    }
  }
}

.mat-drawer-content{
  overflow: hidden !important;
}

.signature-panel{
  mat-dialog-container{
    width: 40vw;
    height: 60vh;
    padding: 0;
    @media screen and (max-width: 1200px){
      width: 50vw;
    }
    @media screen and (max-width: 800px){
      width: 80vw;
      height: 45vh;
    }
  }
}

.modal-image-visor{
  mat-dialog-container{
    width: 40vw;
    padding: 0;
    overflow: hidden;
    height: 85vh;
    position: relative;
    @media screen and (max-width: 1200px){
      width: 50vw;
    }
    @media screen and (max-width: 800px){
      width: 80vw;
      height: 70vh;
    }
  }
}

.modal-panel{
  mat-dialog-container{
    width: 35vw;
    padding: 0;
    overflow: hidden;
    min-height: 85vh;
    @media screen and (max-width: 1200px){
      width: 50vw;
    }
    @media screen and (max-width: 800px){
      width: 80vw;
    }
  }
}

.date-panel{
  mat-dialog-container{
    min-height: 25vh;
    width: 25vw;
    padding: 0;
    @media screen and (min-width: 1400px){
      width: 20vw;
    }
    @media screen and (max-width: 1024px){
      width: 50vw;
    }
    @media screen and (max-width: 600px){
      width: 90vw;
    }
  }
}

.filter-panel{
  mat-dialog-container{
    min-height: 35vh;
    min-width: 20vw;
    padding: 0;
    @media screen and (max-width: 1024px){
      width: 30vw;
    }
    @media screen and (max-width: 600px){
      width: 90vw;
    }
  }
}

.share-panel{
  background-color: mat-color($primary) !important;
  @media screen and (max-width: 600px){
    min-width: 100vw !important;
  }
}

.dialog-panel{
  mat-dialog-container{
    width: 30vw;
    @media screen and(max-width: 600px){
      width: 90vw;
    }
  }
}

.sasisopa-panel{
  mat-dialog-container{
    width: 72vw;
    max-height: 95vh;
    overflow: hidden;
    padding: 0;
    @media screen and (max-width: 800px){
      width: 90vw;
    }
  }
}

.sgm-panel{
  mat-dialog-container{
    width: 72vw;
    padding: 0;
    overflow: hidden;
    max-height: 95vh;
    @media screen and (max-width: 800px){
      width: 90vw;
    }
  }
}

app-collaborators-list{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 32.5vw;
  @media screen and (max-width: 1024px){
    width: 45vw;
  }
  @media screen and (max-width: 900px){
    width: 50vw;
  }
  @media screen and (max-width: 600px){
    width: 100vw;
  }
}

app-notifications{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30vw;
  @media screen and (max-width: 1024px){
    width: 35vw;
  }
  @media screen and (max-width: 900px){
    width: 50vw;
  }
  @media screen and (max-width: 600px){
    width: 100vw;
  }
}

app-admin-notifications{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 30vw;
  @media screen and (max-width: 1024px){
    width: 35vw;
  }
  @media screen and (max-width: 900px){
    width: 50vw;
  }
  @media screen and (max-width: 600px){
    width: 100vw;
  }
}

app-procedures{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
}

app-station-list{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
}

app-add-collaborator{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 32.5vw;
  @media screen and (max-width: 1024px) {
    width: 35vw;
  }
  @media screen and (max-width: 900px) {
    width: 50vw;
  }
  @media screen and (max-width: 600px) {
    width: 100vw;
  }
}

.mat-badge-small .mat-badge-content{
  width: 12px !important;
  height: 12px !important;
  top: -2px !important;
  right: 0 !important;
}
.mat-badge.hide-text .mat-badge-content {
  color: transparent !important;
}
.mat-slide-toggle-bar {
  height: 7px !important;
  width: 19px !important;
}
.mat-slide-toggle-thumb {
  height: 10px !important;
  width: 10px !important;
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb-container {
  transform: translate3d(13px,0,0) !important;
}
.mat-slide-toggle-thumb-container {
  width: 12px !important;
  height: 12px !important;
  top: -2px !important;
}
.mat-slide-toggle .mat-slide-toggle-ripple{
  width: 20px !important;
  height: 20px !important;
  top: calc(50% - 11px) !important;
  left: calc(50% - 11px) !important;
  border-radius: 50% !important;
}

.mat-tab-label .mat-tab-label-content{
  white-space: normal !important;
  display: flex !important;
}
.mat-tab-body-content {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  overflow: hidden !important;
}
.mat-radio-label{
  white-space: normal !important;
}
.mat-card .last-child {
  margin-bottom: 0 !important;
}

.textLayer{
  display: none;
}

.timepicker {
  z-index: 1000;
  .timepicker__header {
    background-color: mat-color($primary) !important;
  }

  .clock-face__clock-hand {
    background-color: mat-color($primary) !important;

    &::after {
      background-color: mat-color($primary) !important;
    }

    &::before {
      border-color: mat-color($primary) !important;
    }
  }

  .clock-face__number {
    > span.active {
      background-color: mat-color($primary) !important;
    }
  }

  button:not(.timepicker-dial__item) {
    color: mat-color($primary) !important;
  }
}

app-incidence-report, app-free-report, app-om-report, app-compressor-report, app-vrs-report {
  #upload-file-component {
    width: 100% !important;
  }
}
