@import '../../node_modules/@angular/material/theming';

@include mat-core();

@import "theme";
@import "colors";

@include angular-material-theme($my-app-theme);

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body{
  background-color: white;
  font-family: Roboto, 'Helvetice New', 'Arial', sans-serif;
  overflow: hidden;
}

.upload-image-menu-panel{
  margin: 8px 0 0 -12px !important;
}

.location-panel{
  width: 40vw;
  mat-dialog-container{
    padding: 0 !important;
  }
  @media screen and (max-width: 600px){
    width: 100vw;
  }
}

.country-code-panel{
  mat-dialog-container{
    width: 30vw;
    min-height: 80vh;
    max-width: 90vh;
    padding: 0;
    @media screen and (max-width: 600px){
      width: 90vw;
    }
  }
}

.mat-drawer-content{
  overflow: hidden !important;
}
