<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
  <style>@page { size: letter }</style>
  <style>
    body{
      font-family: 'Helvetice New', 'Arial', sans-serif;
      min-height: 279mm !important;
    }
    .sheet{
      min-height: 279mm !important;
    }
    .description{
      margin-top: 32px;
      font-size: 12pt;
      text-align: left;
    }
    #list{
      width: 100%;
      text-align: center;
    }
    .img{
      width: 105%;
    }

  </style>
</head>
<body class="letter">

<section class="sheet" style="padding: 0 25mm 25mm 25mm !important;">

  <!-- Write HTML just like a web page -->
  <article>
    <p class="description">
      SASISOPA Punto 8. Control de actividades y procesos.
    </p>
    <div id="list">
      <img class="img" style="margin: 0" src="https://app.inspectordenormas.com/assets/attached/1-min.png">
      <img class="img" style="margin: 15% 0" src="https://app.inspectordenormas.com/assets/attached/2-min.png">
      <img class="img" style="margin: 15% 0" src="https://app.inspectordenormas.com/assets/attached/3-min.png">
      <img class="img" style="margin: 15% 0" src="https://app.inspectordenormas.com/assets/attached/4-min.png">
      <img class="img" style="margin: 15% 0" src="https://app.inspectordenormas.com/assets/attached/5-min.png">
      <img class="img" style="margin: 15% 0" src="https://app.inspectordenormas.com/assets/attached/6-min.png">
      <img class="img" style="margin: 15% 0" src="https://app.inspectordenormas.com/assets/attached/7-min.png">
      <img class="img" style="margin: 15% 0" src="https://app.inspectordenormas.com/assets/attached/8-min.png">
      <img class="img" style="margin: 15% 0" src="https://app.inspectordenormas.com/assets/attached/9-min.png">
    </div>

  </article>

</section>
</body>
</html>
