<div id="list-collaborators">
  <mat-toolbar color="primary">
    <h3>Lista de colaboradores</h3>
    <div class="buttons">
      <button mat-icon-button matTooltip="Añadir Colaborador"><mat-icon>person_add</mat-icon></button>
      <button mat-icon-button matTooltip="Cerrar" (click)="close()"><mat-icon>close</mat-icon></button>
    </div>
  </mat-toolbar>



  <div class="list">
    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="https://www.maplander.com/favicon.png">
      </div>
      <div class="info">
        <h3>A falsis, fraticinida domesticus hydra.</h3>
        <p>Heu. Pol, buxum! Castus historias ducunt ad nix.</p>
        <p>Eheu, compater! Absolutio resisteres, tanquam regius tus.</p>
      </div>
      <div class="actions">
        <button mat-icon-button><mat-icon>delete</mat-icon></button>
        <button mat-icon-button><mat-icon>add</mat-icon></button>
      </div>
    </div>

  </div>

  <div class="add-collaborator">

  </div>

  <!--<div class="add-collaborator-button">
    <button mat-button>Añadir colaborador<mat-icon>add</mat-icon></button>
  </div>-->
</div>
